<div class="card">
  <div class="card-body">
    <h6 class="card-title">Login To Takeoff as {{userType}}</h6>

    <div class="ht-tm-codeblock ht-tm-btn-replaceable ht-tm-element ht-tm-element-inner">
      <form [formGroup]="formGroup"
        (submit)="submit.next(formGroup.value)">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
            formControlName="username"
            id="username" />
          <small id="emailHelp"
            class="form-text text-muted">Enter a username</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text"
            formControlName="password"
            id="password" />
          <small id="passwordHelp"
            class="form-text text-muted">Enter a Password</small>
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
